/bin
/.libs
/target
/dist
logs/
/project/target/
/project/project/target/
.idea/
.idea_modules/
.cache
.worksheet/
.DS_Store
.metadata
.classpath
.project
.settings
.target
*.log
db_dumps
conf/generated.keystore
.classpath
.project
.settings
